@model Bricks_auction_application.ViewModels.OrderSummaryViewModel

<h1>Podsumowanie zamówienia</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Zdjęcie</th>
                <th>Nazwa</th>
                <th>Numer katalogowy</th>
                <th>Cena</th>
                <th>Cena z wysyłką</th>
                <th>Czas zakończenia</th>
                <th>Sprzedający</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var offer in Model.Offers)
            {
                <tr>
                    <td>
                        <img src="~/@offer.ImagePath" class="img-fluid" style="max-height: 100px;" />
                    </td>
                    <td>@Html.DisplayFor(modelItem => offer.LEGOSet.Name)</td>
                    <td>@Html.DisplayFor(modelItem => offer.LEGOSet.SetId)</td>
                    <td>@Html.DisplayFor(modelItem => offer.Price)</td>
                    <td>@Html.DisplayFor(modelItem => offer.ShippingPrice)</td>
                    <td>@Html.DisplayFor(modelItem => offer.OfferEndDateTime)</td>
                    <td>@Html.DisplayFor(modelItem => offer.User.Email)</td>
                </tr>
            }

        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="mt-5">Dane do wysyłki</h2>
        <form class="mt-3" method="post" action="@Url.Action("ProcessOrder", "OrderSummary")">
            <div class="mb-3">
                <label for="PhoneNumber" class="form-label">Numer telefonu:</label>
                <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" required>
            </div>
            <div class="mb-3">
                <label for="StreetAddress" class="form-label">Adres:</label>
                <input type="text" class="form-control" id="StreetAddress" name="StreetAddress" required>
            </div>
            <div class="mb-3">
                <label for="City" class="form-label">Miasto:</label>
                <input type="text" class="form-control" id="City" name="City" required>
            </div>
            <div class="mb-3">
                <label for="PostalCode" class="form-label">Kod pocztowy:</label>
                <input type="text" class="form-control" id="PostalCode" name="PostalCode" required>
            </div>
            <div class="mb-3">
                <label for="Country" class="form-label">Kraj:</label>
                <input type="text" class="form-control" id="Country" name="Country" required>
            </div>
            <div class="mb-3">
                <label for="Name" class="form-label">Imię i nazwisko:</label>
                <input type="text" class="form-control" id="Name" name="Name" required>
            </div>
            
        </form>
    </div>
</div>

<form method="post" action="@Url.Action("PlaceOrderAndSendEmail", "OrdersSummary")">
    <div class="row">
        <div class="col-md-6 offset-md-6 text-xl-end">
            @* Calculate total order value *@
            @{
                decimal totalCartValue = Model.Offers.Sum(offer => offer.Price);
                decimal totalCartValueWithShipping = Model.Offers.Sum(offer => offer.Price + offer.ShippingPrice);
            }
            <h4>Całkowita wartość zamówienia: @totalCartValue.ToString("C")</h4>
            <h4>Całkowita wartość zamówienia z wysyłką: @totalCartValueWithShipping.ToString("C")</h4>
            <button type="submit" class="btn btn-outline-dark mt-4">Złóż zamówienie</button>
        </div>
    </div>
</form>



