@model Bricks_auction_application.Models.Offers.Offer

@{
    ViewData["Title"] = "Details";
}

<h1 style="margin: 50px 0 ;">
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LEGOSet.Name)
        @Html.DisplayFor(model => model.LEGOSet.SetId)
    </dd>
</h1>

<div class="row">
    <div class="col-sm-6">
        <img src="~/@Model.ImagePath" class="img-fluid" style="padding: 30px;" />
    </div>
    <div class="col-sm-6 d-flex flex-column">
        <h4>Oferta</h4>
        <hr />
        <dl class="row">
            <dt class="col-6">
                @Html.DisplayNameFor(model => model.LEGOSet.Name)
            </dt>
            <dd class="col-6" style="text-align: right;">
                @Html.DisplayFor(model => model.LEGOSet.Name)
            </dd>
            <dt class="col-6">
                @Html.DisplayNameFor(model => model.LEGOSet.EnglishName)
            </dt>
            <dd class="col-6" style="text-align: right;">
                @Html.DisplayFor(model => model.LEGOSet.EnglishName)
            </dd>
            <dt class="col-6">
                @Html.DisplayNameFor(model => model.LEGOSet.SetId)
            </dt>
            <dd class="col-6" style="text-align: right;">
                @Html.DisplayFor(model => model.LEGOSet.SetId)
            </dd>
            <dt class="col-6">
                @Html.DisplayNameFor(model => model.LEGOSet.Pieces)
            </dt>
            <dd class="col-6" style="text-align: right;">
                @Html.DisplayFor(model => model.LEGOSet.Pieces)
            </dd>
            <dt class="col-6">
                @Html.DisplayNameFor(model => model.LEGOSet.Minifigures)
            </dt>
            <dd class="col-6" style="text-align: right;">
                @Html.DisplayFor(model => model.LEGOSet.Minifigures)
            </dd>
            <dt class="col-6">
                @Html.DisplayNameFor(model => model.LEGOSet.ReleaseYear)
            </dt>
            <dd class="col-6" style="text-align: right;">
                @Html.DisplayFor(model => model.LEGOSet.ReleaseYear)
            </dd>
            <dt class="col-6">
                @Html.DisplayNameFor(model => model.LEGOSet.ListPrice)
            </dt>
            <dd class="col-6" style="text-align: right;">
                @Html.DisplayFor(model => model.LEGOSet.ListPrice) zł
            </dd>
        </dl>
        <div class="mt-auto">
            <dl class="row">
                <dt class="col-6">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-6" style="text-align: right;">
                    @Html.DisplayFor(model => model.Price) zł
                </dd>
                <dt class="col-6">
                    @Html.DisplayNameFor(model => model.ShippingPrice)
                </dt>
                <dd class="col-6" style="text-align: right;">
                    @Html.DisplayFor(model => model.ShippingPrice) zł
                </dd>
                <dt class="col-6">
                    @Html.DisplayNameFor(model => model.OfferEndDateTime)
                </dt>
                <dd class="col-6" style="text-align: right;">
                    @Html.DisplayFor(model => model.OfferEndDateTime)
                </dd>
            </dl>
        </div>
        <div class="mt-auto">
            <dl class="row" style="text-align: right;">
                <form method="post" action="@Url.Action("AddToCartDetails", "Offers", new { offerId = Model.OfferId })">
                    <button type="submit" class="btn btn-dark">Dodaj do koszyka</button>
                </form>
            </dl>
        </div>
    </div>
</div>

<div class="row" style="margin: 50px 0 ;">
    <dt class="col-12">
        @Html.DisplayNameFor(model => model.LEGOSet.Description)
    </dt>
    <dd class="col-12">
        @Html.DisplayFor(model => model.LEGOSet.Description)
    </dd>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.OfferId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
