@model IEnumerable<Bricks_auction_application.Models.Offers.Offer>

@{
    ViewData["Title"] = "Offers";
    var currentSortOrder = ViewData["CurrentSortOrder"] != null ? ViewData["CurrentSortOrder"].ToString() : "Name_desc";
    var currentSortDirection = ViewData["CurrentSortDirection"] != null ? ViewData["CurrentSortDirection"].ToString() : "ascending";
    var searchString = ViewData["CurrentCategoryId"] as string;
}

<partial name="_Notification" />

<div class="row">
    <h2 class="d-inline align-middle mt-3 mb-3 col-md-6">Przeglądaj Oferty!</h2>
    <div class="form-group mb-2 d-inline ml-auto col-md-6 text-end align-content-center">
    <input type="submit" value="Dodaj nową ofertę" class="btn btn-outline-secondary" />
</div>
</div>



<form asp-action="Index" method="get" id="filterForm" class="form-inline">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-2">
                <label for="minPrice" class="mr-2">Cena minimalna:</label>
                <input type="number" name="minPrice" class="form-control mr-3" id="minPrice" value="@ViewData["CurrentMinPrice"]" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-2">
                <label for="maxPrice" class="mr-2">Cena maksymalna:</label>
                <input type="number" name="maxPrice" class="form-control mr-3" id="maxPrice" value="@ViewData["CurrentMaxPrice"]" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-2">
                <label for="minPrice" class="mr-2">Ilość elementów od:</label>
                <input type="number" name="minPrice" class="form-control mr-3" id="minPrice" value="@ViewData["CurrentMinPrice"]" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-2">
                <label for="maxPrice" class="mr-2">Ilość elementów do:</label>
                <input type="number" name="maxPrice" class="form-control mr-3" id="maxPrice" value="@ViewData["CurrentMaxPrice"]" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-2">
                <label for="minPrice" class="mr-2">Rok produkcji od:</label>
                <input type="number" name="minPrice" class="form-control mr-3" id="minPrice" value="@ViewData["CurrentMinPrice"]" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-2">
                <label for="maxPrice" class="mr-2">Rok produkcji do:</label>
                <input type="number" name="maxPrice" class="form-control mr-3" id="maxPrice" value="@ViewData["CurrentMaxPrice"]" />
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="form-group mb-2">
                <label for="categoryId" class="mr-2">Kategoria:</label>
                <select name="categoryId" class="form-control mr-3" id="categoryId">
                    <option value="">Wszystkie kategorie</option>
                    @foreach (var category in ViewBag.Categories as SelectList)
                    {
                        <option value="@category.Value" selected="@(ViewData["CurrentCategoryId"] != null && ViewData["CurrentCategoryId"].ToString() == category.Value ? "selected" : "")">
                            @category.Text
                        </option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-2">
                <label for="sortOrder" class="mr-2">Sortuj po:</label>
                <select name="sortOrder" class="form-control mr-3" id="sortOrder">
                    <option value="Name" selected="@(ViewData["CurrentSortOrder"] as string == "Name" ? "selected" : "")">Nazwa</option>
                    <option value="Price" selected="@(ViewData["CurrentSortOrder"] as string == "Price" ? "selected" : "")">Cena</option>
                    <option value="OfferEndDateTime" selected="@(ViewData["CurrentSortOrder"] as string == "OfferEndDateTime" ? "selected" : "")">Czas zakończenia</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-2">
                <label for="sortDirection" class="mr-2">Kierunek sortowania:</label>
                <select name="sortDirection" class="form-control mr-3" id="sortDirection">
                    <option value="ascending" selected="@(ViewData["CurrentSortDirection"] as string == "ascending" ? "selected" : "")">Rosnąco</option>
                    <option value="descending" selected="@(ViewData["CurrentSortDirection"] as string == "descending" ? "selected" : "")">Malejąco</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group mb-2">
                <input type="submit" value="Filtruj" class="btn btn-outline-secondary mt-3 mb-3" />
            </div>
        </div>
    </div>
</form>





<table class="table">
    <thead>
        <tr>
            <th>
                Zdjęcie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LEGOSet.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LEGOSet.SetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfferEndDateTime)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/@item.ImagePath" class="img-fluid" style="max-height: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LEGOSet.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LEGOSet.SetId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferEndDateTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OfferId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OfferId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OfferId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    // Obsługa zachowania formularza przy sortowaniu
    function sortOffers() {
        var sortOrder = document.getElementsByName("sortOrder")[0].value;
        var form = document.getElementById("filterForm");
        form.action = "/Offers?sortOrder=" + sortOrder;
        form.submit();
    }
</script>