@model IEnumerable<Bricks_auction_application.Models.Offers.Offer>

@{
    ViewData["Title"] = "Index";
}

<h1>Offers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LEGOSet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfferEndDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LEGOSet.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfferEndDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OfferId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OfferId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OfferId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
