@model IEnumerable<Bricks_auction_application.Models.Offers.Offer>

@{
    ViewData["Title"] = "Offers";
    var currentSortOrder = ViewData["CurrentSortOrder"] != null ? ViewData["CurrentSortOrder"].ToString() : "Name_desc";
    var currentSortDirection = ViewData["CurrentSortDirection"] != null ? ViewData["CurrentSortDirection"].ToString() : "ascending";
}
<partial name="_Notification" />

<h2>Offers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form asp-action="Index" method="get" id="sortForm">
    <p>
        Sort by:
        <select name="sortOrder">
            <option value="Name" selected="@("Name" == currentSortOrder)">Name</option>
            <option value="Price" selected="@("Price" == currentSortOrder)">Price</option>
            <option value="OfferEndDateTime" selected="@("OfferEndDateTime" == currentSortOrder)">Offer End Date</option>
        </select>

        <select name="sortDirection">
            <option value="ascending" selected="@("ascending" == currentSortDirection)">Ascending</option>
            <option value="descending" selected="@("descending" == currentSortDirection)">Descending</option>
        </select>

        <input type="button" value="Sort" onclick="sortOffers();" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LEGOSet.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfferEndDateTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LEGOSet.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferEndDateTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OfferId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OfferId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OfferId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function sortOffers() {
        var sortOrder = document.getElementsByName("sortOrder")[0].value;
        var sortDirection = document.getElementsByName("sortDirection")[0].value;

        var form = document.getElementById("sortForm");
        form.action = "/Offers?sortOrder=" + sortOrder + "&sortDirection=" + sortDirection;
        form.submit();
    }
</script>
